<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/logo_arg.png" id="logoAP">
        </div>
        <div class="redes">
            <a href=""><img src="../../../assets/logo_face.png" id="facebook"></a>
            <a href=""><img src="../../../assets/logo_ws.png" id="Whatsapp"></a>
            <a href=""><img src="../../../assets/logo_gram.png" id="Instagram"></a>
            <a href=""><img src="../../../assets/logo-Git.png" id="Otra"></a>
            <button type="button" class="btn btn-info">Ingresar</button>
        </div>
    </div>
</div>



