<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto_mia.jpg" class="img-fluid" id="fotomia">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">IVANA MARIELA ULLOA</p>
        <p>FULL STACK DEVELOPER JR.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Una de mis fortalezas es la versatilidad, lo que me permitió trabajar en puestos de gerencia, administrativos y de TI, en empresas privadas y organismos públicos.</p>
        </span>
    </div>

</div>